<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="js\lib\jq.js"></script>
    <script type="text/javascript" src="js\lib\bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Holtwood+One+SC" rel="stylesheet">
    <title>Beat A Tap!</title>
  </head>
  <body>
    <header id="top">
      <div class="jumbotron">
        <h1 id="title">BEATATAP</h1>
        <p>(A <a href="/about">Saga</a> project)</p>
        <a href="/app" id="startButton" class="btn btn-lg btn-primary">START</a>
        <h6>(Photo by <a href="https://unsplash.com/@emilianovittoriosi">Emiliano Vittoriosi</a> on Unsplash)</h6>
      </div>
    </header>
  </body>
  <script type="text/javascript" src="about.js"></script>
</html>
