<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="js\lib\paper-full.js"></script>
    <script type="text/javascript" src="js\lib\howler.js"></script>
    <script type="text/javascript" src="js\lib\jq.js"></script>
    <script type="text/javascript" src="js\lib\bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <title>Beat A Tap!</title>
  </head>
  <body>
    <canvas id="mainCanvas" resize>
    </canvas>
  </body>
  <script type="text/paperscript" src="js\main.js" canvas="mainCanvas"></script>
</html>
