html,html body,.cover,canvas{
  height: 100vh;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #222222;
}

div#start{
  background-image: url("../images/emiliano-vittoriosi-720679-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  color: white;
  margin: 0px auto;
  text-align: center;
  width: 100%;
  opacity: 1;
}

#title{
  font-size: 11vw;
  font-family: "Holtwood One SC", "serif";
}

#start .jumbotron{
  padding: 0;
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-top: 30vh;
  background-color: rgba(20, 20, 20, 0.6);
  height: fit-content;
}

#start .jumbotron p{
  margin: auto;
}

.jumbotron a{
  color: #129cf3;
}

.jumbotron a:hover{
  text-decoration: none;
  color: rgba(200, 200, 200, 0.5);
}

#startButton{
  background: #129cf3;
  color: white;
  padding: 10px 5vw;
  margin: 15px auto;
  font-size: 20px;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  #start .jumbotron   {   margin-top: 33vh;   }
}

@media only screen and (max-width: 350px) {
  #start .jumbotron   {   margin-top: 36vh;   }
}

#mainCanvas{
  display: block;
}
#app{
  position: fixed;
  z-index: -1
}

#overlay{
  position: fixed;
  background-color: rgba(200,200,200,0.1);
  z-index: -1
}

#overlay .jumbotron{
  padding: 5vh 0;
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-top: 20vh;
  background-color: rgba(20, 20, 20, 0.5);
  color: white;
  text-align: center;
  min-height: 60vh;
}

#overlay .jumbotron a,#overlay .jumbotron a:hover,#overlay .jumbotron a:visited{
  color: white;
  background-color: #129cf3
}

#soundboardTitle{
  position: fixed;
  width: 100%;
  height: 100vh;
}
#soundboardTitle h1{
  margin: 40vh auto;
  font-size: 12vw;
  background-color: rgba(255,255,255,0.5);
  color: white;
  font-family: "Holtwood One SC";
  text-align: center;
}
